<article class="register">

    <form action="/user/createmeals" method="POST" class="register-form" enctype=”multipart/form-data”>


        <div class="errors">
            {{#each messages}}
            <p>{{this}}</p>
            {{/each}}
        </div>


        <label for="form-title">
            Meal Title
        </label>
        <input type="text" id="form-title" name="title" placeholder="Meal Title" autocomplete="off"
            value="{{ title }}" />

        <label for="form-included">
            What's included?
        </label>
        <input type="text" id="form-included" name="included" placeholder="What's Included?" autocomplete="off"
            value="{{ included }}" />

        <label for="form-synopsis">
            Description
        </label>
        <input type="text" id="form-synopsis" name="synopsis" placeholder="Description" autocomplete="off"
            value="{{ synopsis }}" />

        <label for="form-category">
            Meal Category
        </label>
        <input type="text" id="form-category" name="category" placeholder="Meal Category" autocomplete="off"
            value="{{ category }}" />

        <label for="form-price">
            Meal Price
        </label>
        <input type="text" id="form-price" name="price" placeholder="Meal Price" autocomplete="off"
            value="{{ price }}" />

        <label for="form-cookTime">
            Cooking Time
        </label>
        <input type="text" id="form-cookTime" name="cookTime" placeholder="Cooking Time?" autocomplete="off"
            value="{{ cookTime }}" />


        <label for="form-noOfMeals">
            No. of Meals
        </label>
        <input id="form-noOfMeals" type="text" name="noOfMeals" placeholder="#" value="{{ noOfMeals }}" />

        <label for="form-calories">
            Meal Calories
        </label>
        <input type="text" id="form-calories" name="calories" placeholder="Meal Calories" autocomplete="off"
            value="{{ calories }}" />

        <label for="form-isTopPkg">
            Top Package
        </label>
        <input id="form-isTopPkg" type="radio" name="isTopPkg" value="false" {{!-- value="{{ isTopPkg }}" --}} />


        <label for="form-imageUrl">
            Image URL
        </label>
        <input id="form-imageUrl" type="text" name="imageUrl" placeholder="URL" value="{{ imageUrl }}" />

        <label for="form-imageFile">
            Upload Image
        </label>
        <input id="form-imageFile" type="file" name="imageFile" />



        <input id="form-submit" type="submit" value="Add Meal" />
    </form>

</article>