<article class="cards">

    {{#each data}}
    <div class="card">
        <span class="item">{{this.title}}</span>
        <img class = "img" src =/img/{{this.img}} alt = {{this.title}}>
        <span class="included">{{this.included}}</span>
        <span class ="synopsis">{{this.synopsis}}</span>
        <span class ="category">{{this.category}} Meal</span>
    </div>
    {{/each}}

</article>